<div>
    <div class="modal-header">
            <h3 class="modal-title">Editing Employee Details!</h3>
        </div>
        <div class="modal-body">
        	<div data-ng-repeat='employee in employeeList'>
	        	<div class="form-group">
	        		<h2>First Name</h2>
	            	<input data-ng-model="employee.firstName" />
	        	</div>
	        	<div class="form-group">
	        		<h2>Last Name</h2>
	            	<input data-ng-model="employee.lastName" />
	        	</div>
	        	<div class="form-group">
	        		<h2>Gender</h2>
	            	<label>
					    <input type="radio" ng-model="employee.gender" value="M">
					    Male
					</label>
					<label>
					    <input type="radio" ng-model="employee.gender" value="F">
					    Female
					</label>
	        	</div>
	        	<div class="form-group">
	        		 <div class="btn btn-primary" ngf-select ng-model="employee.file">Select Profile picture</div>
	        		 <div class="thumb-preview">
	        		 	    Image thumbnail: {{$index}}
	        		 	    <img ngf-src="employee.file[0]">
					 </div>	        		 
	        	</div>
        	</div>
        	
        	<button class="btn btn-primary" ng-click="addEmployee()">Add Employee</button>
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="close()">Close</button>
        </div>
    </script>
</div>